In [1]:
print('hello')

hello

In [2]:
import numpy as np

import pandas as pd

from functools import partial

import math

import operator

import itertools

In [3]:
# Read the dataset
df = pd.read_csv("Source/ENG-GER-FRE.csv", index_col='Unnamed: 0')
df = df.dropna()
print(df); print(df.dtypes)

                      word  label
0                Aacheners      2
1             aalähnlicher      2
2             aalähnliches      2
3               aalartiges      2
4              Aalbestände      2
5               aalbezogen      2
6             aalbezogenen      2
7           Aalbrutleitern      2
8          Aalbüschelwelse      2
9                Aalbutten      2
10               Aaldorsch      2
11                  aalend      2
12                 aalende      2
13             Aalentnahme      2
14               Aalfänger      2
15      Aalfangergebnisses      2
16          Aalfängerinnen      2
17         Aalfangmethoden      2
18          Aalfangverbote      2
19         Aalfangverbotes      2
20          Aalfangverbots      2
21              Aalfischer      2
22            Aalfischerin      2
23             Aalfleischs      2
24              aalförmige      2
25             Aalfreundes      2
26                aalglatt      2
27               Aalgräten      2
28                Aalkiste      2
29             Aalkörbchen      2
...                    ...    ...
806563                 ôta      3
806564                ôtai      3
806565             ôtaient      3
806566               ôtais      3
806567               ôtait      3
806568               ôtant      3
806569                 ôte      3
806570               ôtent      3
806571                ôter      3
806572               ôtera      3
806573              ôterai      3
806574             ôterais      3
806575             ôterait      3
806576              ôteras      3
806577              ôterez      3
806578            ôterions      3
806579                ôtes      3
806580                ôtez      3
806581               ôtiez      3
806582               ôtons      3
806583                ôtât      3
806584             ôtèrent      3
806585                 ôté      3
806586                 ôté      3
806587                ôtée      3
806588                ôtée      3
806589               ôtées      3
806590               ôtées      3
806591                ôtés      3
806592                ôtés      3

[806590 rows x 2 columns]
word     object
label     int64
dtype: object

In [4]:
##### CLEANSE #####

# Get rid of duplicate rows and non-alphabetic characters, and reset the indexes

##### CLEANSE #####

In [5]:
# Required functions

# Uppercase all letters for unison
def letter_2_upper_mk_42(word):
    return str(word).upper()

# Return set of all unique characters
def unique_letters(word, letter_bag):
    for c in word:
        if c not in letter_bag:
            letter_bag.add(c)

In [6]:
# Uppercase all characters
df['word'] = df['word'].apply(letter_2_upper_mk_42)
# print(df); print(df.dtypes)

In [7]:
# Get rid of duplicate words with same label
df = df.drop_duplicates()
# print(df); print(df.dtypes)

In [8]:
# Determine set of all unique letters of the dataset
letters = set()
df['word'].apply(unique_letters,args=[letters])
print("Unique characters \n%s \nof length %s" % (list(letters), len(letters)))

Unique characters
['Ê', '�', 'Ø', 'I', 'S', 'R', 'O', 'W', 'Ë', 'Ä', 'É', 'È', 'Ô', 'M', 'Ú', ' ', 'Á', 'Q', 'Å', 'Ï', 'U', "'", 'Z', 'L', 'Î', 'Í', 'P', 'Û', 'Y', 'Ù', 'K', 'Ñ', 'Ü', '.', 'X', 'Ç', 'Ö', 'C', 'N', 'V', 'T', '-', 'Â', 'A', 'F', 'H', 'E', 'Ó', 'Ã', 'J', 'G', 'D', 'B']
of length 53

In [9]:
# Determine the alphabetic subset of letter set
alpha_letters = set()
for c in list(letters):
    if c.isalpha():
        alpha_letters.add(c)
print("Unique letters \n%s \nof length %s" % (list(alpha_letters), len(alpha_letters)))

Unique letters
['Ê', 'G', 'Ø', 'I', 'S', 'R', 'O', 'W', 'Ô', 'É', 'Ë', 'Ä', 'È', 'M', 'Ú', 'Á', 'Q', 'Å', 'Ï', 'U', 'Z', 'L', 'Î', 'Í', 'P', 'Û', 'Y', 'Ù', 'K', 'Ñ', 'Ü', 'Ç', 'Ö', 'C', 'N', 'V', 'T', 'Â', 'A', 'F', 'H', 'E', 'Ó', 'Ã', 'X', 'J', 'D', 'B']
of length 48

In [10]:
# # Drop rows with unwanted/non-alpha characters-regex way
# REDACTED #
# Drop rows with unwanted/non-alpha characters-lame way
for c in letters-alpha_letters:
    df = df[~df.word.str.contains(c, regex=False)]
# df = df[~df.word.str.contains("T|L", regex=True)]
# print(df); print(df.dtypes)

In [11]:
# Test the success by getting set of all unique elements again
cleansed_letters = set()
df['word'].apply(unique_letters,args=[cleansed_letters])
print("Cleansed letters \n%s \nof length %s" % (list(cleansed_letters), len(cleansed_letters)))

Cleansed letters
['Ê', 'Ø', 'I', 'S', 'R', 'O', 'W', 'Ë', 'Ä', 'É', 'È', 'Ô', 'M', 'Ú', 'Á', 'Q', 'Å', 'Ï', 'U', 'Z', 'L', 'Î', 'Í', 'P', 'Û', 'Y', 'Ù', 'K', 'Ñ', 'Ü', 'X', 'Ç', 'Ö', 'C', 'N', 'V', 'T', 'Â', 'A', 'F', 'H', 'E', 'Ó', 'Ã', 'J', 'G', 'D', 'B']
of length 48

In [12]:
# Reset the indexes of the rows
df = df.reset_index(drop=True)
print('Cleansed dataset:')
print(df); print(df.dtypes)

Cleansed dataset:
                      word  label
0                AACHENERS      2
1             AALÄHNLICHER      2
2             AALÄHNLICHES      2
3               AALARTIGES      2
4              AALBESTÄNDE      2
5               AALBEZOGEN      2
6             AALBEZOGENEN      2
7           AALBRUTLEITERN      2
8          AALBÜSCHELWELSE      2
9                AALBUTTEN      2
10               AALDORSCH      2
11                  AALEND      2
12                 AALENDE      2
13             AALENTNAHME      2
14               AALFÄNGER      2
15      AALFANGERGEBNISSES      2
16          AALFÄNGERINNEN      2
17         AALFANGMETHODEN      2
18          AALFANGVERBOTE      2
19         AALFANGVERBOTES      2
20          AALFANGVERBOTS      2
21              AALFISCHER      2
22            AALFISCHERIN      2
23             AALFLEISCHS      2
24              AALFÖRMIGE      2
25             AALFREUNDES      2
26                AALGLATT      2
27               AALGRÄTEN      2
28                AALKISTE      2
29             AALKÖRBCHEN      2
...                    ...    ...
785037                ÎLOT      3
785038             ÎLOTIER      3
785039               ÎLOTS      3
785040                   Ô      3
785041                 ÔTA      3
785042                ÔTAI      3
785043             ÔTAIENT      3
785044               ÔTAIS      3
785045               ÔTAIT      3
785046               ÔTANT      3
785047                 ÔTE      3
785048               ÔTENT      3
785049                ÔTER      3
785050               ÔTERA      3
785051              ÔTERAI      3
785052             ÔTERAIS      3
785053             ÔTERAIT      3
785054              ÔTERAS      3
785055              ÔTEREZ      3
785056            ÔTERIONS      3
785057                ÔTES      3
785058                ÔTEZ      3
785059               ÔTIEZ      3
785060               ÔTONS      3
785061                ÔTÂT      3
785062             ÔTÈRENT      3
785063                 ÔTÉ      3
785064                ÔTÉE      3
785065               ÔTÉES      3
785066                ÔTÉS      3

[785067 rows x 2 columns]
word     object
label     int64
dtype: object

In [13]:
# Acquire set of all unique characters --For 1-gram feature selection later
print(df); print(df.dtypes)
# Return set of all unique characters
def unique_letters(word, letter_bag):
    for c in word:
        if c not in letter_bag:
            letter_bag.add(c)
            
cleansed_letters = set()
df['word'].apply(unique_letters,args=[cleansed_letters])
print("Cleansed letters \n%s \nof length %s" % (list(cleansed_letters), len(cleansed_letters)))

                      word  label
0                AACHENERS      2
1             AALÄHNLICHER      2
2             AALÄHNLICHES      2
3               AALARTIGES      2
4              AALBESTÄNDE      2
5               AALBEZOGEN      2
6             AALBEZOGENEN      2
7           AALBRUTLEITERN      2
8          AALBÜSCHELWELSE      2
9                AALBUTTEN      2
10               AALDORSCH      2
11                  AALEND      2
12                 AALENDE      2
13             AALENTNAHME      2
14               AALFÄNGER      2
15      AALFANGERGEBNISSES      2
16          AALFÄNGERINNEN      2
17         AALFANGMETHODEN      2
18          AALFANGVERBOTE      2
19         AALFANGVERBOTES      2
20          AALFANGVERBOTS      2
21              AALFISCHER      2
22            AALFISCHERIN      2
23             AALFLEISCHS      2
24              AALFÖRMIGE      2
25             AALFREUNDES      2
26                AALGLATT      2
27               AALGRÄTEN      2
28                AALKISTE      2
29             AALKÖRBCHEN      2
...                    ...    ...
785037                ÎLOT      3
785038             ÎLOTIER      3
785039               ÎLOTS      3
785040                   Ô      3
785041                 ÔTA      3
785042                ÔTAI      3
785043             ÔTAIENT      3
785044               ÔTAIS      3
785045               ÔTAIT      3
785046               ÔTANT      3
785047                 ÔTE      3
785048               ÔTENT      3
785049                ÔTER      3
785050               ÔTERA      3
785051              ÔTERAI      3
785052             ÔTERAIS      3
785053             ÔTERAIT      3
785054              ÔTERAS      3
785055              ÔTEREZ      3
785056            ÔTERIONS      3
785057                ÔTES      3
785058                ÔTEZ      3
785059               ÔTIEZ      3
785060               ÔTONS      3
785061                ÔTÂT      3
785062             ÔTÈRENT      3
785063                 ÔTÉ      3
785064                ÔTÉE      3
785065               ÔTÉES      3
785066                ÔTÉS      3

[785067 rows x 2 columns]
word     object
label     int64
dtype: object
Cleansed letters
['Ê', 'Ø', 'I', 'S', 'R', 'O', 'W', 'Ë', 'Ä', 'É', 'È', 'Ô', 'M', 'Ú', 'Á', 'Q', 'Å', 'Ï', 'U', 'Z', 'L', 'Î', 'Í', 'P', 'Û', 'Y', 'Ù', 'K', 'Ñ', 'Ü', 'X', 'Ç', 'Ö', 'C', 'N', 'V', 'T', 'Â', 'A', 'F', 'H', 'E', 'Ó', 'Ã', 'J', 'G', 'D', 'B']
of length 48

In [14]:
# Save to a csv file
df.to_csv("Notebook_Results/ENG-GER-FRE-N2-cleansed.csv")